body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.nav-bar {
    align-items: center;
    display: flex;
    background-color: #ccc;
}

.nav-links {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline-block;
}

li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #333;
}

li a:hover {
    background-color: #111;
    color: #fff;}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.project {
    margin-bottom: 20px;
}